/* Сначала импортируем шрифты */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito&display=swap');

/* Применяем шрифт ко всем элементам */
* {
  font-family: 'Inter', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  @keyframes blink {

    0%,
    100% {
      border-right-color: transparent;
    }

    50% {
      border-right-color: #2d77d6;
    }
  }

  /* добавляем задержку 0.5s перед началом */
  --animate-typewriter: typing 1.3s steps(11, end) forwards 0.8s,
  blink 1s step-end infinite 0.5s;
}

.typewriter-init {
  width: 0;
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid #2d77d6;
  white-space: nowrap;
}